body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

#search {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
}

.card {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
